* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

div {
  text-align: center;
  margin: 20px;
}

body {
  background-color: aqua;
}

h1 {
  padding: 10px;
  font-style: italic;
}

h2 {
  padding: 10px;
}

h3 {
  padding: 30px;
  font-size: x-large;
}

input {
  border: 1px solid black;
  border-radius: 10px;
  background: aqua;
  margin: 10px;
  padding: 10px;
}
